
body{
    margin: 0;
}
.contactUsBg{
    position: relative;
    background-image: url("../Photo/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
    z-index: 1;
}

.containerForm{
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
    background-color: white;
    z-index: 2;
    box-shadow:
    0 0 5px #fff,     
    5px 0 10px #f0f,   
    -5px 0 10px #0ff,  
    5px 0 30px #f0f,  
    -5px 0 30px #0ff, 
    0 0 5px #fff,            
    -2.5px 0 10px #f0f,        
    2.5px 0 10px #0ff;
  
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.5s ease;

  }
  .containerForm.show {
    opacity: 1;
    transform: translateY(0);
}
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input, textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  

  .figureContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
  }
  .figure1,.figure2,.figure3{
    z-index: -1;
    background-color: whitesmoke;
    height: 300px;
    width: 20%;
    margin: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    box-shadow:
    0 0 5px #fff,     
    5px 0 10px #f0f,   
    -5px 0 10px #0ff,  
    5px 0 30px #f0f,  
    -5px 0 30px #0ff, 
    0 0 5px #fff,            
    -2.5px 0 10px #f0f,        
    2.5px 0 10px #0ff;
    
  }
  .figure1{
    opacity: 0;
    transform: translateX(60px);
    transition: opacity 0.6s ease, transform 0.3s ease-out;
  }
  .figure2{
    opacity: 0;
    transform: translateX(60px);
    transition: opacity 0.6s ease, transform 0.5s ease-out;
  }
  .figure3{
    opacity: 0;
    transform: translateX(60px);
    transition: opacity 0.6s ease, transform 0.7s ease-out;
  }
  .card-content {
    text-align: center;
  }
  .figure1.show {
    opacity: 1;
    transform: translateX(0);
}
  .figure2.show {
    opacity: 1;
    transform: translateX(0);
}
  .figure3.show {
    opacity: 1;
    transform: translateX(0);
}

  .figure1 i,
  .figure2 i,
  .figure3 i {
    margin-top: 20px;
    font-size: 50px;
  }
  .contactH1{
    padding-top: 20px;
    text-align: center;
    font-family: 'VT323', monospace;
    color: white;
  }
  p{
    font-family: 'VT323', monospace;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'VT323', monospace;
  }
  .contactLastDiv{
    position: relative;
    height: 120vh;
    width: 100%;
    background: linear-gradient(to top, rgb(33, 5, 74),rebeccapurple,rgb(46,3,74));
  
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #message{
    resize: none;
  }
  /* Per photot */
  
   

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  padding-top: 340px;
  
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow:
    0 0 5px #fff,     
    5px 0 10px #f0f,   
    -5px 0 10px #0ff,  
    5px 0 30px #f0f,  
    -5px 0 30px #0ff, 
    0 0 5px #fff,            
    -2.5px 0 10px #f0f,        
    2.5px 0 10px #0ff;
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}
input[type="text"],
input[type="email"],
textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  width: 100%;
  margin-bottom: 15px;
  resize: none; /* Disable textarea resizing */
}

button {
  padding: 10px 20px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #8f46b4;
}
/* Mobile devices */
@media only screen and (max-width: 600px) {
  
  .contactUsBg {
    height: auto;
    background-position: center;
  }

  .figureContainer {
    flex-direction: column;
    padding-top: 40px;
  }

  .figure1,
  .figure2,
  .figure3 {
    width: 80%;
    margin: 20px auto;
  }

  .containerForm {
    max-width: 90%;
    margin-top: 30px;
  }
  .wrapper {
    padding-top: 120px;
  }

  .item {
    width: 65%;
    display: block;
    margin: 30px auto;
    
    filter: none;
  }

  .item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.35s;
  }
}

/* Tablets and larger screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .contactUsBg {
    height: auto;
    background-position: center;
  }

  .figureContainer {
    flex-direction: column;
    padding-top: 60px;
  }

  .figure1,
  .figure2,
  .figure3 {
    width: 30%;
    margin: 20px;
  }

  .containerForm {
    max-width: 60%;
    margin-top: 60px;
  }

  .wrapper {
    padding-top: 120px;
  }

  .footer-col {
    width: 25%;
  }
  .wrapper {
    padding-top: 100px;
  }

  .item {
    width: 30%;
    display: block;
    margin: 20px auto;
    filter: none;
  }
  #item1{
    width: 40%;
  }
  #item2{
    width: 35%;
  }

  .item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 40%;
    width: 40%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.35s;
  }
}

/* Larger screens */
@media only screen and (min-width: 1025px) {
  .figureContainer {
    justify-content: center;
    padding-top: 80px;
  }

  .figure1,
  .figure2,
  .figure3 {
    width: 20%;
    margin: 20px;
  }

  .containerForm {
    max-width: 400px;
    margin-top: 80px;
  }

  .wrapper {
    padding-top: 340px;
  }

  .footer-col {
    width: 25%;
  }
}

