@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    margin: 0;
}
.bg-main{
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../Photo/bg.jpg");
  background-color: #180032;
  background-size: cover;
}
.mainDiv{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../Photo/pcAnimation.gif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  color: white;
  height: 90vh;
  height: calc(100vh - 56px); /* Subtract the height of the expanded navbar (56px is an example value) */
  transition: height 0.3s ease;
}
.trePikeshi{
  margin: 200px 45%;
}


.aboutUs{
    padding: 30px;
    
    color: white;
}
.latestThings{
  padding: 30px;
  display: flex;
  color: whitesmoke;

}
.column{
  padding: 20px;
  
  align-items:center;

}
.about{
  font-family: sans-serif;
  font-size: 30px;
  border-radius: 20px;
  text-align: justify;
  line-height: 30px;
}
.foto-about{
  width: 400px;
  height: 400px;
  border-radius: 7%;
  box-shadow:
    inset 0 0 50px #fff,     
    inset 20px 0 80px #f0f,   
    inset -20px 0 80px #0ff,  
    inset 20px 0 300px #f0f,  
    inset -20px 0 300px #0ff, 
    0 0 50px #fff,            
    -10px 0 80px #f0f,        
    10px 0 80px #0ff;
}
.button {
  text-decoration: none;
  color: white;
  background: rgb(145, 92, 182);
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 5px rgb(133, 29, 207);
    padding: 30px;
    display: flex;
    color: whitesmoke;
  background-color: transparent;
}
.pcBrands{

    padding: 30px;
    
    color: white;
}
.image-row {
  display: inline-block;
  overflow: hidden;
}
.image-row img {
  transition: transform 0.2s ease;
  cursor: pointer;
}
#img1:hover{
  transform: scale(1.2); 
}
#img2:hover{
  transform: scale(1.2);
}
#img3:hover{
  transform: scale(1.2); 
}
#img4:hover{
  transform: scale(1.2); 
}
#img5:hover{
  transform: scale(1.2); 
}
#img6:hover{
  transform: scale(1.2);
}
#img7:hover{
  transform: scale(1.2); 
}

.description {
    font-size: 30px;
    font-family:'VT323', monospace ;
    transform: translateX(60px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.lorem{
  transform: translateX(60px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.lorem.show {
  opacity: 1;
  transform: translateX(0);
}

.fancy {
    color: red;
    font-weight: bold;
    font-style: italic;
    
}
.pIpare{
    font-family: 'VT323', monospace;
    font-size: 50px;
    transform: translateX(60px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
p{
    font-family: 'VT323', monospace;
}
/* Per div-in e dyte*/
.image-row {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.image-row img {
  width: 140px; 
  height: 100px; 
margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
  }
  
  .card {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: calc(50% - 40px);
  }
  
  .card-text {
    flex-grow: 1;
    padding: 20px;
  }
  
  .inside-container {
    width: 200px;
    height: 150px;
  }
  
  .btn {
    border-radius: 15px;
    padding: 5px 15px;
   background-color: purple;
  }

  .swiper-container {
    max-height: 1000px; 
    position: relative;
    overflow: hidden;
  }
  

hr{
    border-style: dotted none none;
    border-width: 10px;
    width: 10%;
    color: rgb(91, 43, 139);
    margin: 10px auto;
}h1,h2,h3{
    font-family: 'VT323', monospace;
}
  .bestSellerH1{
    text-align: center;
  }
@media screen and (max-width: 768px) {
    

    .card-container {
      flex-direction: column; /* Stack cards vertically */
      align-items: center; /* Center cards horizontally */
      justify-content: center; /* Center cards vertically */
      height: auto; /* Adjust the height to fit the content */
    }
  
    .card {
      width: 65%; /* Adjust the card's maximum width to fit the screen */
      margin: 20px 0; /* Add vertical margin to separate cards */
      display: flex; /* Change the display to flex to keep image and content together */
      flex-direction: column; /* Stack image and content vertically */
    }
  
    .inside-container {
      width: 100%; /* Make the images inside the card container full width */
    }
}

@media screen and (max-width: 768px) {
  .aboutUs,
  .latestThings,
  .column {
    padding: 15px;
  }

  .about {
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    line-height: 26px;
  }

  .foto-about {
    width: 100%;
    height: auto;
    max-width: 400px; /* You can adjust this based on your design preferences */
    margin: 0 auto; /* Center the element horizontally */
  }

  .button {
    padding: 10px 30px;
  }

  .glow-button:hover {
    padding: 20px;
  }
}