.navbar .toggle-button{
    display: none;
  }
  .navBar.active .toggle-button {
    align-items: end;
    
  }
  .navBar.active {
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    
  }
  .navBar.active ~ .mainDiv {
    margin-top: 80px; /* Replace 56px with the actual height of your expanded navbar */
  }
  @media screen and (max-width: 768px) {
    .navBar a:not(.toggle-button) {
        display: none;
    }

    .navBar .toggle-button {
        display: block;
    }

    .navBar.active a:not(.toggle-button) {
        display: block;
    }
    .image-container .keyboard{
      display: none;
    }
    .image-container .PC1{
      height: 250px;
      width: 250px;
    }

.navBar::before {
  display: none;
}
}
@media screen and (min-width: 769px) {
    .navBar a:not(.toggle-button) {
        display: block;
    }
  
    .navBar .toggle-button {
        display: none;
    }
  }
  .navBar a:not(.toggle-button) {
    text-decoration: none; 
    color: #ffffff; 
    overflow: hidden; 
    position: relative; 
  }
  
  .navBar a:not(.toggle-button)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rebeccapurple; 
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  .navBar a:not(.toggle-button):hover::before {
    transform: scaleX(1);
  }
  .navBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent; 
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)); 
  }
  .navBar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    font-family: 'VT323', monospace;
  }
  .navBar a:hover {
    background-color: #555;
  }
  .navBar a.active {
    background-color: #777;
  }
  