
.main-div {
  display: flex; 
}

.sticky-container{
    margin-top: 160px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33333300;
  position: sticky;
  top: 0;
  width: 200px; 
}

li {
  /* Remove the float property */
  display: block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
